/* ===========================================================
   BUTTONS
===========================================================*/

.btn-primary{

    display:inline-flex;

    align-items:center;

    justify-content:center;

    gap:10px;

    padding:var(--space-md) 34px;

    background:var(--primary);

    color:#fff;

    font-weight:600;

    border-radius:var(--radius-md);

    box-shadow:var(--shadow-md);

    transition:var(--transition);

}

.btn-primary:hover{

    transform:translateY(-4px);

    box-shadow:var(--shadow-lg);

}

.btn-outline{

    display:inline-flex;

    align-items:center;

    justify-content:center;

    padding:14px 24px;

    border:2px solid var(--primary);

    border-radius:var(--radius-md);

    color:var(--primary);

    font-weight:600;

    transition:var(--transition);

}

.btn-outline:hover{

    background:var(--primary);

    color:white;

}